.player-icon {
  color: #d1bebe;
  padding: 0 2.0833333333333335vw;
  cursor: pointer;
}

.player-icon:hover {
  color: #e3d8d8;
}

.player {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.526187576126675vh;
  width: 100%;
  bottom: 0;
  z-index: 100000;
  background: #2e2a2a;
}

.player-controls {
  margin-left: 1.3888888888888888vw;
}

.player-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30vw;
  height: 6.090133982947624vh;
  background-position: 14.616321559074299vh 2.0833333333333335vw;
  background: linear-gradient(-313deg, black 0%, #403b3b 50%, #383636 93%, #d1bebe 98%, #e3d8d8 100%);
  background: radial-gradient(circle, black 0%, #403b3b 60%, #383636 93%, #d1bebe 979%, #e3d8d8 100%);
  margin: 0 4.861111111111111vw;
  border-radius: 0.6944444444444444vw;
  font-size: 1vw;
}

.player-display * {
  color: #e3d8d8;
}

.player-display-info {
  margin-left: 1.3888888888888888vw;
}

.player-display-data {
  margin: 0;
  padding: 0;
}

.player-display-time {
  margin-left: auto;
  margin-right: 1.3888888888888888vw;
}

.volume-display {
  width: 9vw;
  height: 6.090133982947624vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.volume-bar {
  width: 1.3888888888888888vw;
  min-height: 1.218026796589525vh;
  background: #74b553;
  cursor: pointer;
}

.volume-bar-disabled {
  background: #494f46;
}

.volume-1 {
  height: 1.218026796589525vh;
}

.volume-2 {
  height: 2.43605359317905vh;
}

.volume-3 {
  height: 3.6540803897685747vh;
}

.volume-4 {
  height: 4.8721071863581vh;
}

.volume-5 {
  height: 6.090133982947624vh;
}


.volume-controls {
  margin-right: 1.39vw;
}
