.date-display {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-top: 12px; */
  margin-top: 1.46163215590743vh;
  /* height: 70px; */
  height: 8.526187576126675vh;
  /* background: #d1bebe; */
  background: #1c1a1a;
  /* bottom: 70px; */
  bottom: 8.526187576126675vh;
  z-index: 100000;
}

.date-display * {
  /* color: #2e2a2a; */
  color: #d1bebe;
}

.displayed-date {
  /* font-size: 30px; */
  font-size: 2.0833333333333335vw;
  cursor: default;
}

.change-date {
  cursor: pointer;
}

.change-date:hover {
  color: #e3d8d8;
}

.disabled {
  opacity: 10;
  cursor: default;
}
