@import url('https://fonts.googleapis.com/css?family=Sulphur+Point:300,400,700&display=swap&subset=latin-ext');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2e2a2a;
  font-family: 'Sulphur Point', sans-serif;
}

ul {
  list-style-type: none;
}

body {
  /* background: #e3e3e3; */
  background: #ede6e6;
}
